{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{%static 'css/manager.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理员界面</title>
</head>


<body class="back">
    <!-- 页面的头部 -->
    <div id="header">
        <div class="container">
            <div class="h_left left">
                <a href="http://127.0.0.1:8000/">
                    <div class="train_img left"></div>
                    <div class="wordstl1">铁路12307</div>
                    <div class="wordstl2">RAILWAY 12307</div>
                </a>
            </div>
            <form action="" class="form1 left" method="GET">
                <input type="text" placeholder="搜索车票/餐饮/常旅客/相关规章" style="width:300px; height:30px" name="headsearch" />
                <input type="submit" name="search" class=" green button" value="搜索" />
            </form>

        </div>
        <!-- 左边导航栏 -->
        <div id="left_nav">
            <div class="real_nav">
                <div class="s_left left">
                    <div class="left_top">管理员:{{manager}}</div>
                    <div class="left_top">级别:SuperUser</div>
                    <div class="left_a1" onclick="showText1()" id="l_a1"><a href="#">&nbsp&nbsp用&nbsp&nbsp&nbsp&nbsp户&nbsp&nbsp&nbsp&nbsp管&nbsp&nbsp&nbsp&nbsp&nbsp理</a>
                    </div>
                    <div class="left_a2" onclick="showText2()" id="l_a2"><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp车&nbsp&nbsp&nbsp&nbsp站</a></div>
                    <div class="left_a3" onclick="showText3()" id="l_a3"><a href="#">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp车&nbsp&nbsp&nbsp&nbsp&nbsp票</a></div>
                </div>
            </div>
        </div>

</body>
<script>
    function showText1() {

        var t1 = document.getElementById("l_a1");
        t1.style.background = "rgb(122, 182, 184)";

        var t2 = document.getElementById("l_a2");
        t2.style.background = " cadetblue";

        var t3 = document.getElementById("l_a3");
        t3.style.background = "cadetblue";
    }

    function showText2() {

        var t1 = document.getElementById("l_a1");
        t1.style.background = " cadetblue";

        var t2 = document.getElementById("l_a2");
        t2.style.background = "rgb(122, 182, 184)";

        var t3 = document.getElementById("l_a3");
        t3.style.background = " cadetblue";
    }

    function showText3() {

        var t1 = document.getElementById("l_a1");
        t1.style.background = " cadetblue";

        var t2 = document.getElementById("l_a2");
        t2.style.background = " cadetblue";
        var t3 = document.getElementById("l_a3");
        t3.style.background = "rgb(122, 182, 184)";

    }
</script>

</html>