{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'css/index4.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/search4.css' %}">
    <title>查询车票</title>
    <style>
        a {
            color: rgb(61, 92, 25);
            transition: 0.3s;
        }
        
        a:hover {
            color: rgb(165, 110, 187);
        }
    </style>
</head>

<body>
    <div id="header">
        <div class="container">
            <div class="h_left left">
                <a href="http://127.0.0.1:8000/">
                    <div class="train_img left"></div>
                    <div class="wordstl1">铁路12307</div>
                    <div class="wordstl2">RAILWAY 12307</div>
                </a>
            </div>
            <form action="" class="form1 left" method="GET">
                {% csrf_token %} {{form}}
                <input type="text" placeholder="搜索车票/餐饮/常旅客/相关规章" style="width:300px; height:30px" name="headsearch" />
                <input type="submit" name="search" class=" green button" value="搜索" />
            </form>

        </div>
    </div>
    <div>

    </div>

    <table>
        <tr>
            <th>出发日期</th>
            <th>车次</th>
            <th>是否当日到达</th>
            <th>出发时间</th>
            <th>到达时间</th>
            <th>发出站</th>
            <th>到达站</th>
            <th>座位类型</th>
            <th>车票数目</th>
            <th>票价</th>
            <th>操作</th>
        </tr>
        {% for T in tlist %}
        <tr>
            <td>{{T.ticket_date}}</td>
            <td>{{T.train_name}}</td>
            <td>{% if T.day_difference == 0 %}是{% else %}否{% endif %}</td>
            <td>{{T.depart_time}}</td>
            <td>{{T.arrive_time}}</td>
            <td>{{T.from_station_name}}</td>
            <td>{{T.to_station_name}}</td>
            <td>{{T.seat_type}}</td>
            <td>{% if T.num_of_tickets == -2 %}有{% elif T.num_of_tickets == 0 %}无{%else%}{{T.num_of_tickets}}{% endif %}</td>
            <td> {% if T.price == -1.0 %}--{% else %}{{T.price}}{% endif %}</td>
            <td><a class="h_right" href="buyticket/?tid={{T.ticket_id}}">购买</a></td>
        </tr>
        {% endfor %}
    </table>
    <div>
        <span>
            {% if tlist.has_previous %}
                <a href="?page={{ tlist.previous_page_number }}&date={{date}}&fromwhere={{fromwhere}}&towhere={{towhere}}">previous</a>
            {% endif %}
     
            <span class="current">
                Page {{ tlist.number }} of {{ tlist.paginator.num_pages }}.
            </span> {% if tlist.has_next %}
        <a href="?page={{ tlist.next_page_number }}&date={{date}}&fromwhere={{fromwhere}}&towhere={{towhere}}">next</a> {% endif %}
        </span>
    </div>

</body>

</html>