* {
    margin: 0px;
    padding: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

ol,
ul {
    list-style-type: none;
}

table,
th,
td {
    height: 40px;
    width: 1100px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid rgb(12, 0, 0);
    margin-left: 350px;
    margin-top: 20px;
}

tr:nth-child(odd) {
    background-color: rgb(208, 232, 252);
}

tr:nth-child(even) {
    background-color: rgb(232, 246, 255);
}